<html><head>
<title>Fresh hot tail!</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
function listen_for_events(timestamp) {
  $.ajax("/tail/pull/"+timestamp, { success:
    function(data, code, xhr) {
      for (var i=0; i<data.lines.length; i++) {
         var msg = data.lines[i];
         $("#lines_list").append("<li>"+msg);
      }
      listen_for_events(data.timestamp);
      } 
    });
}
$(document).ready(function() {
listen_for_events({{ timestamp }});
});
</script>
</head>
<body>
<ul id="lines_list">
</ul>
</body>
</html>
